<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
    <label for="Full Name">Full Name</label>
    <input type="text" placeholder="Enter the full name" name="full_name" required>

    <label for="Email">Email</label>
    <input type="text" placeholder="Enter the email" name="email" required>

    <input type="radio" name="sex_1" value="Man">
    <label for="sex_1">Man</label>

    <input type="radio" name="sex_2" value="Woman">
    <label for="sex_2">Woman</label>

    <input type="submit" formmethod="get" name="submit" value="Отправить">

</div>
</body>
</html>